CONFIG = {}

CONFIG["GUILD"] = {
    "film-raffle-role-id": ,
    "film-raffle-channel-id": ,
    "privileged-roles": [],
}

CONFIG["BOT"] = {
    "bot-token": "",
}

CONFIG["DATABASE_URL"] = ""

CONFIG["DATABASE"] = {
    "db-username": "",
    "db-password": "",
    "db-host": "",
    "db-name": "",
}
